.fazal {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 100vh;
    background: #000;
    color: #fff;
    padding: 4rem 1rem;
}

.img {
    border-radius: 1000000000px;
    height: 300px;
    width: 300px;
    display: block;

}

.heading {

    color: #fff;
    font-size: larger;
    width: 50%;
}

.head {

    color: #01bf71;


}

.icon {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 8%;
    width: 25%;
    cursor: pointer;
    color: #01bf71;
}

@media screen and (max-width: 960px) {

    .heading {
        width: 80%;
    }

    .icon {

        position: static;
        width: 50%;
        margin-top: 10%;

    }

    .fazal {
        padding-bottom: 100%;
    }

}

.subhead {
    font-size: 1.6rem;
    font-weight: 600;
    color: #01bf71;
    margin-bottom: 1rem;
}

.about {
    font-size: 1.2rem;
    color: #e6e6e6;
    width: 90%;
    line-height: 1.6;
}

.copyMail {
    cursor: pointer;
    position: relative;
}

.tooltip {
    padding-left: 10px;
    font-size: 0.9rem;
    color: #01bf71;
    animation: fadeInOut 1.5s ease forwards;
    white-space: nowrap;
}

@keyframes fadeInOut {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

